/* General Styles */
body {
    background-color: #000; /* Set background to black */
    color: #fff; /* Set text color to white for readability */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #1e90ff;
    border: none;
    color: #fff;
    border-radius: 5px;
}

button:hover {
    background-color: #0b75d1;
}

.hidden {
    display: none;
}

#progressContainer {
    margin-top: 30px;
}

#loadingGif {
    width: 100px;
    height: 100px;
}

#progressText {
    margin-top: 10px;
    font-size: 18px;
}

#progressLog {
    margin-top: 5px;
    font-size: 14px;
    font-style: italic;
}

#keyContainer {
    margin-top: 30px;
}

#keysList {
    margin-top: 10px;
    text-align: left;
    padding: 0 20px;
    word-wrap: break-word;
}

#copyStatus {
    margin-top: 10px;
    color: #32cd32;
    font-weight: bold;
}

.footer {
    margin-top: 50px;
}

.footer p {
    margin-bottom: 10px;
    font-size: 16px;
}
